In [1]:
import pandas as pd

In [5]:
datos = pd.read_csv('./data/alquiler.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [6]:
list(datos['Tipo'].drop_duplicates())

['Habitación',
 'Casa',
 'Local comercial',
 'Departamento',
 'Casa en condominio',
 'Edificio completo',
 'Flat',
 'Tienda/Salón',
 'Almacén',
 'Casa comercial',
 'Casa de villa',
 'Terreno',
 'Cochera',
 'Loft',
 'Tienda en Centro Comercial',
 'Chacra',
 'Terreno em condominio',
 'Oficina',
 'Chalet',
 'Studio',
 'Hotel',
 'Local industrial']

In [9]:
recidencial = ['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa',
 ]
recidencial

['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa']

In [10]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [11]:
seleccion = datos['Tipo'].isin(recidencial)
seleccion

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [12]:
# filtrar los datos a solo los que son true
datos_residencial = datos[seleccion]
datos_residencial

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [13]:
list(datos_residencial['Tipo'].drop_duplicates())

['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa']

In [14]:
#verificar el tamaño de los datos despues de filtrarlos
datos_residencial.shape[0]

22845

In [15]:
#verificar el tamaño de los datos antes de filtrarlos
datos.shape[0]

32960

In [17]:
# reordenar los indices
datos_residencial.index = range(datos_residencial.shape[0])
datos_residencial

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

# Exportando a la base de datos

In [18]:
# guardar los datos filtrados en un nuevo archivo csv 
datos_residencial.to_csv('./data/alquiler_residencial.csv', sep=';')

In [19]:
# leer los datos filtrados desde el archivo csv que se creo
datos_residencial_2 = pd.read_csv('./data/alquiler_residencial.csv', sep=';')
datos_residencial_2

,Unnamed: 0,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22840,22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [20]:
# guardar los datos filtrados en un nuevo archivo csv 
datos_residencial.to_csv('./data/alquiler_residencial.csv', sep=';', index=False)

In [21]:
# leer los datos filtrados desde el archivo csv que se creo con los indices reordenados
datos_residencial_2 = pd.read_csv('./data/alquiler_residencial.csv', sep=';')
datos_residencial_2

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN